body {
    background: green;
    font-size: 12px;
}

h1 {
    margin-top: 0px;
}

.container {
    text-align: center;
    align-content: center;
    clear: both;
    overflow: auto;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    padding: 10px;
    margin-top: 10px;
    background: #7ac5e7;
}

#charDiv, #charPickedDiv, #opponentDiv, #otherCharDiv {
    align-content: center;
    clear: both;
    overflow: auto;
    margin-left: 10px;
}

img {
    width: 75px;
}

.ppls {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    max-width: 200px;
    float: left;
    padding: 10px;
    margin: 2px;
    background: white;
}

/* .charAllClass {
    float: left;
} */
